@import 'style/common.css';

body {margin: 0; background: #444; color: #000}
h1, h2 {color: #666; font-weight: normal; float: left}
h1 a, h2 a {color: inherit; text-decoration: inherit}
a {color: #F60}
a img {border: none}
p {clear: both}

[data-large], [data-small], iframe[src*='.youtube.'] {display: block; margin: auto; border: thick solid #FFF; box-shadow: 0 .25ex .5ex #666}
[data-large] {cursor: zoom-in; max-width: 100%}
[data-small] {cursor: zoom-out}

p.thumb * {display: initial; margin: 1ex}

iframe[src*='.steampowered.'] {border: 0; width: 100%; height: 190px}

[title] {cursor: help; border-bottom: 1pt dotted}

#body {background: #EEE; padding: 4ex 1ex}
#body-inner {margin: auto; max-width: 60em}
#body-inner >header {font-weight: bold}
#body-inner >footer p, h1 {margin-top: 0}
#body footer {float: right; text-align: right}

article {clear: both; margin: 2ex -1ex; padding: 1ex 1ex .1px; background: #FFF; outline: 1pt solid #666}
article p, article h2 {margin: 0 0 1ex}
article >img {float: left; margin: 0 1ex 1ex 0}

@media (min-width: 30em)
{
	article {position: relative; padding-left: 2ex}
	article >img {position: absolute; left: 1ex}
	article >:not(img) {margin-left: 64px}
}

body >header {background: url(aeronie/banner-left.png) left no-repeat, url(lycop/banner-right.png) right no-repeat, url(lycop/banner-center.png) right repeat-x}
body >header a {display: block; height: 200px}

body >footer {padding: 1ex 1em; text-align: center}
body >footer a {color: inherit}
body >footer p {display: inline-block; margin: .5ex 1em}

#nav-top, #nav-bottom {text-align: center; background: #666; border: 1pt #000; border-style: solid none}
#nav-top a {display: inline-block; padding: 1ex 1em; color: #FFF; text-decoration: none}
#nav-top a:hover, #nav-top a:focus {background: #F60}
#nav-top ul {padding: 0; list-style: none}
#nav-top >ul, #nav-top >ul >li >ul {display: inline}
#nav-top >ul >li, #nav-top >ul >li >ul >li {display: inline-block; position: relative}
#nav-top >ul >li >ul >li >ul {position: absolute; top: 100%; left: -1pt; text-align: left; white-space: nowrap; background: #444; border: 1pt solid #000; transform-origin: top; transition: all .1s linear}
#nav-top >ul >li >ul >li:not(:hover) >ul {display: none}
#nav-top >ul >li >ul a {display: block}

#nav-bottom a {color: inherit}
#nav-bottom >ul, #nav-bottom >ul >li, #nav-bottom >ul >li >ul {display: inline; padding: 0}
#nav-bottom >ul >li >a, #nav-bottom >ul >li >ul >li {display: inline-block; margin: 1ex 1em; text-align: left; vertical-align: top}
#nav-bottom >ul >li >a, #nav-bottom >ul >li >ul >li >a {font-weight: bold}
