@font-face {
font-family: DroidSans;
font-style: normal;
font-weight: 400;
src: local('Droid Sans'), local('DroidSans'), url(DroidSans.woff2) format('woff2');
}
@font-face {
font-family: DroidSans;
font-style: normal;
font-weight: 700;
src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(DroidSans-Bold.woff2) format('woff2');
}
@font-face {
font-family: DroidSansMono;
font-style: normal;
font-weight: 400;
src: local('Droid Sans Mono'), local('DroidSansMono'), url(DroidSansMono.woff2) format('woff2');
}
@font-face {
font-family: NotoSans;
font-style: normal;
font-weight: 400;
src: local('Noto Sans'), local('NotoSans'), url(NotoSans.woff2) format('woff2');
}
@font-face {
font-family: NotoSans;
font-style: normal;
font-weight: 700;
src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(NotoSans-Bold.woff2) format('woff2');
}
@font-face {
font-family: NotoSans;
font-style: italic;
font-weight: 400;
src: local('Noto Sans Italic'), local('NotoSans-Italic'), url(NotoSans-Italic.woff2) format('woff2');
}
@font-face {
font-family: NotoSans;
font-style: italic;
font-weight: 700;
src: local('Noto Sans Bold Italic'), local('NotoSans-BoldItalic'), url(NotoSans-BoldItalic.woff2) format('woff2');
}

body {font-family: DroidSans, NotoSans, sans-serif}

:not(:lang(fr)) >a:lang(fr):before {content: ''; background-image: url(fr.svg)}
:not(:lang(en)) >a:lang(en):before {content: ''; background-image: url(en.svg)}
:not(:lang(de)) >a:lang(de):before {content: ''; background-image: url(de.svg)}

a:before {display: inline-block; width: 1.5ex; height: 1ex; margin-right: .25em; background: center/cover; box-shadow: inset -1px -1px rgba(0,0,0,.25), inset 1px 1px rgba(255,255,255,.25)}
a:after {display: inline-block; width: 1ex; height: 1ex; margin-left: .25em; background: center/contain}
